$programmer-width: 16vw;
$teacher-width: 18vw;

$min-width: 20rem;

$logo-and-title-size:20rem;

.about__programmer {
    width:$programmer-width;
    height:$programmer-width * 1.2;

    min-width: $min-width;
    min-height: $min-width * 1.2;

    position: absolute;
}

.about__teacher {
    width:$teacher-width;
    height:$teacher-width * 1.2;

    min-width: $min-width;
    min-height: $min-width * 1.2;

    position: absolute;
    
    top:calc(100vh - #{$teacher-width * 1.2});
    left:calc(100vw - #{$teacher-width});
}

.about__main {
    max-height:100vh;
    padding:2rem;
}

.about__logo-and-title-container{
    width:50vw;
    text-align: center;
    margin:auto;
    position:relative;
    top:25vh;
}

.about__logo-and-title {
    width:$logo-and-title-size;
    height:$logo-and-title-size;
}

.about__description {
    font-size: 1.5rem;
    color:darkgrey;
}