$programmer-width: 16vw;
$teacher-width: 18vw;

$min-width: 20rem;

$logo-and-title-size:17vw;

.about__programmer {
    width:$programmer-width;
    height:$programmer-width * 1.2;

    min-width: $min-width/1.32;
    min-height: $min-width * 1.2/1.32;

    position: absolute;
}

.about__teacher {
    width:$teacher-width;
    height:$teacher-width * 1.2;

    min-width: $min-width/1.32;
    min-height: $min-width * 1.2/1.32;

    position: absolute;
    
    top:calc(100vh - #{$teacher-width * 1.2} - 2rem);
    left:calc(100vw - #{$teacher-width} - 2rem);
}

.about__main {
    max-height:100vh;
    padding:2rem;
}

.about__logo-and-title-container{
    width:50vw;
    text-align: center;
    margin:auto;
    position:relative;
    top:20vh;
}

.about__logo-and-title {
    width:$logo-and-title-size;
    height:$logo-and-title-size;

    min-width:14rem;
    min-height:14rem;
}

.about__title-description {
    font-size: 1.5rem;
    color:darkgrey;
}

.about__description {
    position:relative;
    top:40vh;
    padding-bottom:2rem;
}

.about__description-paragraphs {
    width:70vw;
}

.about__header-button {
    color:black;
    float:right;
    padding-right:2rem;
    font-size: 2rem;
}

.about__header-button:hover {
    color:white;
}
