#container {
    
    background-color: black;
    height: 900px;
    width:1366px;
}

.drawingBoardControls {
    transition: top 0.07s ease-out;
}

.ui.ui.fullscreen.modal {
    left: unset!important; 
}

.ui.ui.fullscreen.scrolling.modal {
    left: unset!important; 
}
