.load-screen__main{
	background-color:#1ed760;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
  }
  
.loadscreen__image {
	width:250px;
	height:250px;
	min-height: 200px;
	min-width:200px;
	margin:auto;
  }
  
.loadscreen__container {
	width:270px;
	height:270px;
	min-height: 200px;
	min-width:200px;
	margin:auto;
	text-align:center;
  }
  
 .loadscren__header-container{
	position:fixed;
	top:0;
	width:100vw;
	padding:1.5rem;
  }

  .loadscreen__header-button {
	color:white;
	float: right;
	font-size: 1.3rem;
	cursor: pointer;
  }

  .loadscreen__header-button:hover {
	  color:black;
  }