@import './variables';
@import './base';
@import './components/boxed-view';
@import './drawingboard';
@import './components/icon';
@import './createLessonPlan';
@import './components/sim';


.drawing-board-canvas-wrapper {
  z-index:2;
}

.drawing-board-canvas {
  width:'100%';
  height:'100%';
}

