.boxed-view {

    align-items: center;
    background: $boxed-view-overlay-bg;
    display: flex;
    height: 100vh;
    justify-content: center; 
    width: 100vw;  
}

.boxed-view__box {

    background-color: $boxed-view-bg;
    padding: 2.4rem;
    text-align: center;
    width: auto;
    transition: height 0.3s ease, width 0.3s ease;
}

.boxed-view__form {
    
    display: flex;
    flex-direction: column;
    
}

.boxed-view--modal {
    display:'flex';
    flex-direction:'column';
    background-color: fade-out($boxed-view-overlay-bg, 0.3);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    
}

