.boxed-view {

    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center; 
    width: 100vw; 
}

.boxed-view__box {

    padding: 2.4rem;
    text-align: center;
    width: 36rem;
    transition: height 0.3s ease, width 0.3s ease;
}

.boxed-view__form {
    
    display: flex;
    flex-direction: column;
    
}
