.button {
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    margin-bottom:$space;
    padding: $input-spacing;
    text-transform: uppercase;    
}

.button--link {
    
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.button--link-text {

    background: none;
    padding:0;
    margin:0;
    text-decoration: underline;
    text-transform: none;
}

