@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

.header-with-logo__main {
    display:flex;
    flex-direction:row;
    padding:2rem 0;
}

.header-with-logo__logo {
    width:3rem;
    height:2.5rem;
}

.header-with-logo__header {
    margin:0;
    margin-left: 1rem;
    font-size: 2.3rem;
    font-family: 'Raleway', sans-serif;
    color:#3f3f3f;
}

.ui.tabular.menu .active.item {
    background-color: $lighter-grey !important;
}

.rstcustom__rowContents {
    background-color: $light-grey;
}

.dashboard__folderfile-options__main {
    background-color:$dark-primary;
    padding: 1rem;
    z-index:5;
}

.dashboard__folderfile-options__icon {
    color:white;
    cursor: pointer;
}

.dashboard__folderfile-options__icon:hover {
    color:$primary;
}

.ui.bottom.attached.segment.active.tab {
    padding:0 !important;
}

.rstcustom__rowContents {
    box-shadow: none;
    background-color: $lighter-grey !important;
    border-bottom: 1px solid $dark-grey;
    margin-bottom:0;
}

.rstcustom__rowContents:hover {
    box-shadow: none;
    background-color: $light-grey !important;
}

.rstcustom__node:hover {
    background-color:$lighter-grey !important;
}

.tile_right_icon {
    color:grey;
    height:1.2rem;
    width:1.2rem;
    cursor: pointer;
}

.tile_right_icon:hover {
    color:black;
}

.dashboard {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-menu {
  text-align: left;
}

.sidebar-menu__item {
  display: block;
  padding: 0.6rem;
  color: #acb5b9;
  font-family: 2rem;
}

.sidebar-menu__item:hover {
  color: #fff;
}

.sidebar-menu__item--accordion {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-menu__item--accordion-items {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dashboard__sidebar__logo {
  height: 76px;
  width: 92px;
  display:block;
  margin:2rem auto;
}

.dashboard__sidebar {
  width: 20vw;
  height: 100%;
  background-color: #203038;
  font-family: Lato;
  display:flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.dashboard__menu__and__logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.dashboard__menu {
  margin:auto;
  margin-top:2rem;
}

.dashboard__sidebar__logout-btn{
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  cursor: pointer;
  transition: font-size 0.1s;
  width:4rem;
  margin:auto;
  margin-bottom:2rem;
}

.dashboard__sidebar__logout-btn:hover{
  font-size: 1.4rem;
}

.dashboard__menu-option-viewer__wrapper {
   width: 80vw;
   height: 100%;
   overflow-y: scroll;
   padding: 30px 0px;
}

.dashboard__menu-option-viewer {
  width: 85%;
  margin: 0 auto;
}
