.drawing-board-controls {
  background-color: white;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
}

.drawing-board-controls-wrapper {
  z-index: 5;
  position: sticky;
  top: 0px;
  width: 100%;
}

.drawing-board-controls--hidden {
  visibility: hidden;
}

.drawing-board-controls__item {
  cursor: pointer;
  margin: 0px 18px;
}

.drawing-board-controls__item--selected {
  color: blue;
}

.stroke-width-selector-container {
  position: relative;
  top: -6px;
  left: 2em;
  padding: 10px 15px 15px 15px;
  display: none;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 3px 4px 0px black;
}

.stroke-width-selector {
  outline: none;
  background: #d3d3d3;
  height: 3px;
  -webkit-appearance: none;
}

.stroke-width-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid blue;
  background: #fff;
  cursor: pointer;
}

.stroke-width-selector::-moz-range-thumb {
  width: 25px;
  height: 5px;
  background: #4CAF50;
  cursor: pointer;
}

.fill-icon {
  height: 1.7em;
  width: 1.7em;
  border-radius: 4px;
  border: 2px solid  #000;
  background-color: #2196f3;
}

.fill-color-picker-container {
  width: 320px;
  height: 240px;
  position: relative;
  top: -9px;
  box-shadow: -2px 0px 5px 0px #676767;
  left: 3em;
  display: none;
  z-index: 3;
}

.stroke-color-picker-container {
  width: 320px;
  height: 240px;
  position: relative;
  top: -9px;
  box-shadow: -2px 0px 5px 0px #676767;
  left: 7em;
  display: none;
  z-index: 3;
}

.stroke-color-icon {
  height: 1.7em;
  width: 1.7em;
  border-radius: 4px;
  border: 2px solid  #000;
  background-color: #d9d9d9;
}

.line-icon {
  height: 1.7em;
  width: 1.7em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.line-icon__item {
  height: 0.35em;
  width: 90%;
  background-color: #000;
}

.line-icon__item--selected {
  background-color: blue;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #313131;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.empty-clipboard {
  color: #a5a5a5;
  cursor: not-allowed;
}
