.page-content {
    display:flex;
    height: $page-content-height;
    flex-direction: row;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $large-space $space;
}

.page-content__sidebar {
    display:flex;
    width: $page-content-sidebar-width;
    padding-right: $space;
}

.page-content__main {   
    width: $page-content-main-width;
    display:flex;
}

.page-content__main__container {

    background-color:white;
    border: 1px solid $grey;
    width: 100%;
    padding: $large-space;
}

.page-content__sidebar__container {
    padding: $large-space;
    background-color: white;
    border: 1px solid $grey;
    width: 100%;
}
