.page-content {
    margin: 0 auto;
    display: flex;
    height:100%;
}

.page-content__sidebar__left {
    width: 15vw
}

.page-content__sidebar__right {
    width: 15vw
}


.page-content__main {
    width: 70vw;
    height:100vh;
    display:flex;
}

#container {
    width:inherit;
    height:inherit;
}

.sim {
    position: absolute;
    left:0;
    top:0;
}
