.sim-floating {

  position: relative;
  z-index:1;
}

.sim-nav {
  color: rgba(0,0,0,0);
}

.sim-nav:hover {
  color: #444444;
}

.sim-delete {

  transition: 0.1s ease-in;
}

.sim-delete:hover {
  color: #e8e8e8;
  transition: 0.1s ease-in;
}

.sim-handle {

  transition: 0.1s ease-in;
}

.sim-handle:hover {
  color: #e8e8e8;
  transition: 0.1s ease-in;
}


.link-to-code {
  color:inherit;
  transition: 0.1s ease-in;
}

.link-to-code:hover {
  color: #e8e8e8;
  transition: 0.1s ease-in;
}

.iframe {
  border: 2px solid #444444;
}
