.sim-floating {

  position: absolute;
  z-index:1;
  left:300px;
  top:100px;
}

.sim-handle__trash {
  color: #333333;
  transition: 0.1s ease-in;
}

.sim-handle__trash:hover {

  color: white;
}


.sim-handle {

  color: #333333;
  transition: 0.1s ease-in;
}

.sim-handle:hover {

  color:white;
}

.iframe {
  border: 2px solid #444444;
}