.sim-floating {

  position: absolute;
  z-index:1;
  left:300px;
  top:100px;
}

.sim-handle__trash {
  color: rgba(255,255,255,0);
  transition: 0.1s ease-in;
}

.sim-handle__trash:hover {

  color: #444444;
}


.sim-handle {

  color: rgba(255,255,255,0);
  transition: 0.1s ease-in;
}

.sim-handle:hover {

  color:#444444;
}

.iframe {
  border: 2px solid #444444;
}