.slides-list__container {
    display: flex;
    justify-content: space-between;    
}

.slides-list__button {

    flex-grow:1;
    padding:$space;
    background-color: white;
    border:1px solid $dark-grey;
}

.slides-list__delete{
    width: 40px;
    background-color: $grey;
    border:1px solid $dark-grey;; 
}

.slides-list__add {
    
    background-color: $grey;
    padding:$space;
    margin:$space;
    border: 1px solid $dark-grey;
}